@import "../styles/typography.scss";

html, body {
    font-family: "Open Sauce One", georgia, serif;  
    font-size: 16px;
}

$black-color: #000;
$white-color: #fff;
$black-primary: #333;
$black-secondary: #212121;
$text-color: #9c9c9c;
$link-color: #5e5e63;

$font-regular: "Open Sauce One";
$font-light: "Open Sauce One - Light";
$font-bold: "Open Sauce One - Bold";
$font-extraBold: "Open Sauce One - Extra Bold";

.container {
    max-width: 960px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    text-align: center;
    font-family: $font-extraBold;

    &--transparent-white {
        color: white;
        border: 1px solid white;
    }

    &--transparent-black {
        color: $black-primary;
        border: 1px solid $black-primary;
    }

    &--medium {
        padding: 14px 16px;
        border-radius: 8px;
        font-size: 16px;
        line-height: 20px;
        min-width: 202px;
    }

    &--large {
        padding: 24px;
        border: 1px solid $black-primary;
        border-radius: 12px;
        background-color: $black-primary;
        font-size: 18px;
        color: white;
    }
}

a {
    color: $black-secondary;
    text-decoration: none;

    &.underline {
        text-decoration: underline;
    }

    &.bold {
        font-weight: bold;    
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 32px;

    .main-navigation {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
       
    }
   
    a {
        font-size: 18px;
        line-height: 22px;
        padding: 16px;
    }
}

footer {
    margin-bottom: 100px;

    .footer-title {
        font-family: $font-bold;
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 32px;
    }

    .socmed {
        a {
            margin-left: 64px;
        }
    }

    .copyright {
        color: $black-secondary;
        font-size: 14px;
        line-height: 22px;
        margin-top: 36px;
    }
}
// Home - Section Personal
#section-personal {
    padding-top: 160px;
    padding-bottom: 100px;

    .home-rect {
        z-index: -1;
    }

    .personal {
        &__title {
            margin: 30px 0;
            font-size: 32px;
            line-height: 48px;
            font-family: $font-extraBold;

            a {
                color: #00aa5a;
            }
        }

        &__text {
            font-size: 20px;
            line-height: 28px;
            font-family: $font-light;
            color: $black-secondary;
            margin-bottom: 85px;

            a {
                font-family: $font-bold;
                text-decoration: underline;
            }
        }
    }
}

.home-rect {
    position: absolute;

    &1 {
        top: 0;   
    }

    &2 {
        top: 250px;
        left: 56%;
    }

    &3 {

    }

    &4 {
        left: 35%;
        bottom: 0;
    }

    &5 {
        top: 35px;
        right: 0;
    }
}

// Home - Section Blog
#section-blog {
    position: relative;
    background: #212121;
    color: #fff;

    .section-blog {
        &__container {
            padding: 82px 0;
            display: flex;
            justify-content: space-between;
            position: relative;
            z-index: 1;
    
            div {
                &:first-child {
                    flex-basis: 35%;
                    padding-right: 140px;
                }

                &:last-child {
                    div {
                        &:last-child {
                            p {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }

        &__title {
            font-size: 48px;
            line-height: 56px;
            font-family: $font-extraBold;
            margin-bottom: 32px;
        }

        &__text {
            font-size: 16px;
            line-height: 24px;
        }

        &__blog {
            &-title {
                color: white;
                font-size: 21px;
                line-height: 32px;
                text-decoration: underline;
                font-family: $font-extraBold;
                margin-bottom: 8px;
            }

            &-date {
                font-size: 16px;
                line-height: 20px;
                margin-top: 8px;
                margin-bottom: 40px;
            }
        }
    }
}

// Home - Section Work
#section-work {
    padding: 62px 0;


    .section-work {
        &__title {
            font-family: $font-extraBold;
            font-size: 48px;
            line-height: 56px;
            color: $black-color;
            margin-bottom: 32px;
        }
    
        &__text {
            font-size: 16px;
            line-height: 24px;
            color: $black-secondary;
            margin-bottom: 88px;
        }
    }
    
}

.selected-work {
    display: flex;
    background-color: #F5F7FA;
    margin-top: 88px;

    // :hover {
    //     box-shadow: 0 4px 24px 0 rgb(174 182 189 / 24%);
    //     transform: scale(1.02);
    // }

    &__text {
        padding: 56px;
        flex-basis: 50%;
    }

    &__thumbnail {
        flex-basis: 50%;
    }

    &__title {
        font-family: $font-extraBold;
        font-size: 24px;
        line-height: 32px;
        color: $black-secondary;
        margin-bottom: 0;
    }

    &__category {
        margin: 16px 0;
        display: inline-block;
    }

    &__category,
    &__desc {
        font-size: 16px;
        line-height: 24px;
        color: $black-secondary;
    }
    
}

.about-me {
    display: flex;

    &__photo {
        border-radius: 12px;
        box-shadow: 0 4px 24px 0 rgb(0 0 0 / 16%);
        margin-right: 40px;
    }
}

// components

.socmed {
    a {
        margin-left: 8px;
        transition: color ease-in 0.3s;

        &:first-child {
            margin-left: 0;
        }
    }

    &__email {
        &:hover {
            color: #000;
        }
    }

    &__linkedin {
        &:hover {
            color: #0e76a8;
        }
    }

    &__dribble {
        &:hover {
            color: #ea4c89;
        }
    }
}

.all-articles {
    margin-top: 56px;
    margin-bottom: 40px;

    .title-section {
        margin-bottom: 24px;
        font-size: 32px;
        font-family: $font-bold;
    }

    &__container {
        display: flex;
        margin: 0 -15px 40px;
    }

    &__link {
       text-align: center; 
    }
}

.blog-thumbnail {
    padding: 0 15px;
    flex: 1 1 0px;

    .thumbnail {
        &__image {
            border-radius: 8px;
            width: 100%;
            &--mini {
                max-height: 150px;
            }
        }

        &__title {
            margin-top: 12px;
            margin-bottom: 10px;
            line-height: 24px;
            font-family: $font-extraBold;
        }

        &__text {
            color: $text-color;
            font-size: 14px;  
            line-height: 22px; 
        }

        &__date {
            color: $text-color;
            font-size: 12px;
            line-height: 22px; 
            margin-top: 8px;
            margin-bottom: 14px;
        }

        &__link {
            font-size: 16px;
            font-weight: 500;
            text-decoration: underline;
            color: $link-color;
            transition: background-color 300ms ease;

            &:hover {
                background-color: #5e5e63;
                color: $white-color;
            }
        }
    }   
}

.newest-blog {
    padding: 0;

    span {
        color: #0064d2;
        font-size: 14px;
        font-weight: 600;
        margin-top: 12px;
        display: block;
    }

    .thumbnail {
        &__title {
            margin-top: 4px;
            font-size: 40px;
            line-height: 48px;
        }

        &__text {
            font-size: 16px;  
            line-height: 26px; 
        }

        &__date {
            font-size: 14px;
            line-height: 24px;
        }
    }
}

// All Blog

.blog-detail {
    display: flex;

    &__content {
        margin-left: 325px;
        padding: 80px 140px 80px 140px;
        font-family: $font-regular;
    }

    &-image {
        border-radius: 8px;
        width: 100%;
    }

    &-title {
        margin: 24px 0;
        font-size: 54px;
        font-family: $font-extraBold;
    }
}

.sidebar-blog {
    $sideBar: &;
    padding: 0 16px 24px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: auto;
    overflow: auto;
    border-right: 1px solid #ececec;
    max-width: 325px;
    box-sizing: border-box;

    &__header {
        position: sticky;
        top: 0;
        background-color: #fff;
        padding-top: 34px;

        .backHome {
            font-size: 14px;
        }

        .title-section {
            font-size: 18px;
            margin: 24px 0 0;
            line-height: 44px;
            font-family: $font-extraBold;
        }
    }

    &__link {
        padding: 16px;
        margin: 8px 0;
        display: block;
        border-radius: 8px;

        &:hover {
            background-color: #f8f8f8;
        }

        &.active {
            background-color: $black-secondary;

            #{$sideBar} {
                &__title {
                    color: white
                }
            }
        }
    }

    &__title {
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 0;
    }

    &__date {
        color: #cecece;
        font-size: 12px;
        font-family: $font-bold;
    }
}