@font-face {
    font-family: "Open Sauce One";
    src: url("../fonts/OpenSauceOne/OpenSauceOne-Regular.ttf");
}

@font-face {
    font-family: "Open Sauce One - Bold";
    src: url("../fonts/OpenSauceOne/OpenSauceOne-Bold.ttf");
}

@font-face {
    font-family: "Open Sauce One - Extra Bold";
    src: url("../fonts/OpenSauceOne/OpenSauceOne-ExtraBold.ttf");
}

@font-face {
    font-family: "Open Sauce One - Light";
    src: url("../fonts/OpenSauceOne/OpenSauceOne-Light.ttf");
}